variety/.config/variety/Downloaded
variety/.config/variety/.firstrun
variety/.config/variety/.last_change_time
variety/.config/variety/.version
variety/.config/variety/history.txt
variety/.config/variety/scripts/get_wallpaper
variety/.config/variety/scripts/set_wallpaper
variety/.config/variety/variety.log
variety/.config/variety/wallpaper

